/* Error handling style */
.error-handling{
    display: none;
    padding: 5px;
}
.negative-number{
    display: none;
    padding: 5px;
}
.remaining-balance-error{
    display: none;
    padding: 5px;
}
.expenses-balance-error{
    display: none;
    padding: 5px;
}